
<div class="panel panel-default" ng-repeat="axis in axes">
  <div class="panel-heading" ng-if="axis.label == 'Tiles'">
    <strong>Anzeige nach:</strong>

    <div class="btn-group" dropdown ng-show="axis.available.length">
      &nbsp;&nbsp;
      <a dropdown-toggle class="ng-link">&#x21d3;</a>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="opt in axis.available">
          <a ng-click="add(axis, opt.ref)" ng-if="['Einzelplanbezeichnung', 'Hauptgruppenbezeichnung', 'Hauptfunktionbezeichnung'].indexOf(opt.subLabel) > -1">
            <strong ng-if="opt.subLabel == 'Einzelplanbezeichnung'">Organisation</strong>
            <strong ng-if="opt.subLabel == 'Hauptgruppenbezeichnung'">Gruppe</strong>
            <strong ng-if="opt.subLabel == 'Hauptfunktionbezeichnung'">Funktion</strong>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <table class="table" ng-if="axis.label == 'Tiles'">
    <tr ng-repeat="opt in axis.active">
      <td colspan="2">
          <div class="pull-right">
            <a ng-click="remove(axis, opt.ref)" ng-show="axis.remove" class="ng-link ng-icon">
              <i class="fa fa-times"></i></a>
          </div>
          <strong ng-if="opt.subLabel == 'Einzelplanbezeichnung'">Organisation</strong>
          <strong ng-if="opt.subLabel == 'Hauptgruppenbezeichnung'">Gruppe</strong>
          <strong ng-if="opt.subLabel == 'Hauptfunktionbezeichnung'">Funktion</strong>
      </td>
    </tr>
  </table>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <strong>Einnahmen oder Ausgaben</strong>
    <div class="btn-group" dropdown ng-show="filterAttributes.length">
      <!-- &mdash;
      <a dropdown-toggle class="ng-link">add filter</a>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="attr in filterAttributes">
          <a ng-click="addFilter(attr)">
            <strong>{{attr.label}}</strong>
            {{attr.subLabel}}
          </a>
        </li>
      </ul> -->
    </div>
  </div>
  <table class="table table-panel">
    <tbody ng-repeat="filter in filters">
      <tr>
        <td colspan="2">
          <!-- <strong>{{filter.attr.label}}</strong>
          {{filter.attr.subLabel}} -->
        </td>
        <td width="1%">
          <!-- <span class="pull-right">
            <a ng-click="removeFilter(filter)" class="ng-link">
              <i class="fa fa-times"></i>
            </a>
          </span> -->
        </td>
      </tr>
      <tr class="adjoined">
        <td width="0%" class="middle">
          <!-- is -->
        </td>
        <td width="95%">
          <ui-select ng-model="filter.value" disable-search="false" on-select="setFilter(filter, $item, $model)">
            <ui-select-match placeholder="Pick one...">{{$select.selected}}</ui-select-match>
            <ui-select-choices repeat="v as v in filter.values | filter: $select.search track by $index">
               <div ng-bind="v"></div>
            </ui-select-choices>
          </ui-select>
        </td>
        <td class="middle">
        </td>
      </tr>
    </tbody>
  </table>
</div>
